<h1 class="title">Patrick Hayes</h1>

<div class="navigation">
  <%= link_to "Home", index_url, :class => 'nav_link' %>
  <%= link_to "Resume", resume_url, :class => 'nav_link' %>
  <%= link_to "CV", cv_url, :class => 'nav_link' %>
  <%= link_to "Portfolio", portfolio_url, :class => 'nav_link' %>
  <%= link_to "Contact", contact_url, :class => 'nav_link' %>
</div>

