<h1 class="title"><%= get_link_to 'Patrick Hayes', :root, :class => 'title_link' %></h1>

<div class="header_contact">
  <%= raw obfuscated_email() %><br/>
  <%= get_link_to root_url, :root %>
</div>

<div class="navigation">
  <%= get_link_to "Resume", :resume, :class => get_nav_class('resume') %>
  <%= get_link_to "CV", :cv, :class => get_nav_class('cv') %>
  <%= get_link_to "Portfolio", :portfolio, :class => get_nav_class('portfolio') %>
</div>
