<%
  organization ||= nil
  department ||= nil
  location ||= nil
  start_date ||= nil
  end_date ||= nil
  link ||= nil
  bullets ||= []
  show_bullets ||= true if local_assigns[:show_bullets].nil?
%>
<div class="resume_entry">
  <p class="resume_entry_title">
  <span class="resume_entry_name"><%= if link
    link_to name, link
  else
    name
  end
  %></span><%
  if organization %>, <%= organization %><% end %><%
  if department %>, <%= department %><% end %><%
  if location %>, <%= location %><% end %><%
  if (end_date) %><% if (start_date) %>, <%= start_date %>&ndash;<%= end_date %><% else %>, <%= end_date %><% end %><%
end %></p>
<% if bullets and show_bullets %>
  <ul class="resume_entry_bullets">
    <% bullets.each do |bullet| %>
      <li class="resume_entry_bullet"><%= raw bullet %></li>
    <% end %>
  </ul>
<% end %>
</div>
