<p class="resume_section_heading">Work Experience</p>
  <%= render 'home/entry',
    :name => 'Financial Software Developer',
    :organization => 'Bloomberg LP',
    :location => 'New York, NY',
    :start_date => 'May',
    :end_date => 'August 2011',
    :show_bullets => true,
    :bullets => [
      'Developed an application for monitoring volatility of financial securities',
      'Implemented an efficient, scalable caching system for handling large datasets using C++',
      'Designed an intuitive user interface for trend analysis using Javascript',
    ]
  %>
  <%= render 'home/entry',
    :name => 'Research Engineer',
    :organization => 'ContextLogic',
    :location => 'San Francisco, CA',
    :start_date => 'September',
    :end_date => 'December 2010',
    :show_bullets => true,
    :bullets => [
      'Developed a topical analysis application using sophisticated machine learning methods',
      'Produced highly optimized C++ to improve performance in existing technologies by up to 20x',
      'Designed a distributed indexer using Python and C that performed scalable data mining',
    ]
  %>
  <%= render 'home/entry',
    :name => 'Software Engineer',
    :organization => 'Facebook',
    :location => 'Palo Alto, CA',
    :start_date => 'January',
    :end_date => 'April 2010',
    :show_bullets => true,
    :bullets => [
      'Developed a complete, scalable, distributed search application using PHP, Java and SQL',
      'Leveraged open source technologies to build a robust, efficient, and extensible search framework',
      'Used Javascript and Ajax to develop an engaging user experience',
    ]
  %>
  <%= render 'home/entry',
    :name => 'User Interface Developer',
    :organization => 'Sybase iAnywhere',
    :location => 'Waterloo, ON',
    :start_date => 'May',
    :end_date => 'August 2009',
    :show_bullets => full,
    :bullets => [
      'Developed user interface functionality for commercial database software using Flex/Actionscript',
      'Analyzed and implemented performance-critical web server code in Java and SQL',
      'Designed a mobile version of an existing web application using Java, PHP, and SQL',
    ]
  %>
  <%= render 'home/entry',
    :name => 'Automation Tools Developer',
    :organization => 'Research In Motion',
    :location => 'Waterloo, ON',
    :start_date => 'September',
    :end_date => 'December 2008',
    :show_bullets => full,
    :bullets => [
      'Created and improved test suites for BlackBerry OS and Android using Java, C, and Python',
      'Developed a server for hosting and displaying test results using Django',
      'Completed many high priority assignments to ship products under tight deadlines',
    ]
  %>
  <%= render 'home/entry',
    :name => 'Software Test Associate',
    :organization => 'Research In Motion',
    :location => 'Waterloo, ON',
    :start_date => 'January',
    :end_date => 'April 2008',
    :show_bullets => full,
    :bullets => [
      'Implemented new test procedures and expanded on existing testing frameworks',
      'Developed test scripts in Python for testing hardware functionality of devices',
      'Created and maintained department\'s corporate website using Wiki software',
    ]
  %>
