<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
  <div class="resume_content">
    <%= render 'home/education', :full => true %>
    <%= render 'home/open_source', :full => true %>
    <%= render 'home/work', :full => true %>
    <%= render 'home/skills', :full => true, :personal => false %>
    <%= render 'home/activities', :full => true %>
  </div>
</div>
