<% content_for :stylesheet do %>home<% end %>

<div class="holder">
  <div class="homepage">
    <a href="<%= asset_path('yo.png') %>" target="_blank" id="bio_img" title="Click to view full size"></a>
    <div id="bio">
      <div class="biohead bioline">Patrick Hayes</div>
      <div class="bioline">Software engineer at <%= get_link_to 'Airtable', Links::Airtable %>. Formerly cofounder at <%= get_link_to 'SigOpt', Links::SigOpt %> and software engineer at  <%= get_link_to 'YouTube', Links::YouTube %>, <%= get_link_to 'Foursquare', Links::Foursquare %></div>
      <div class="bioline">Find me on <%= get_link_to 'Twitter', Links::Twitter %>,
        <%= get_link_to 'LinkedIn', Links::Linkedin %>,
        <%= get_link_to 'GitHub', Links::Github %>,
        or at <%= raw obfuscated_email %></div>
      <div class="bioline">
        Read my <%= get_link_to "resume", :resume %>,
          <%= get_link_to "CV", :cv %>, or
          <%= get_link_to "portfolio", :portfolio %>
      </div>
    </div>
    <div id="tail">
      that's it
    </div>
  </div>
</div>
