<% content_for :stylesheet do %>home<% end %>

<div class="holder">
  <div class="homepage">
    <div id="bio_img">
      <%= image_tag '/img/yo.png' %>
    </div>
    <div id="bio">
      <div class="biohead bioline">Patrick Hayes</div>
      <div class="bioline">Co-founder at <%= get_link_to 'SigOpt', Links::SigOpt %>. Formerly at <%= get_link_to 'Foursquare', Links::Foursquare %></div>
      <div class="bioline">Find me on <%= get_link_to 'Twitter', Links::Twitter %>,
        <%= get_link_to 'Facebook', Links::Facebook %>,
        <%= get_link_to 'GitHub', Links::Github %>,
        or at <%= raw obfuscated_email %></div>
      <div class="bioline">
        Read my <%= get_link_to "resume", :resume %>,
          <%= get_link_to "CV", :cv %>, or
          <%= get_link_to "portfolio", :portfolio %>
      </div>
    </div>
  <div id="tail">
    that's it
  </div>
  </div>
</div>
