<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
  <div class="resume_content">
    <%= render 'home/skills', :full => false, :personal => true %>
    <%= render 'home/work', :full => false %>
    <%= render 'home/open_source', :full => false %>
    <%= render 'home/education', :full => false %>
    <%= render 'home/activities', :full => false %>
  </div>
  <br />
  <div class="resume_footer">
    <p class="resume_footer_entry">For the expanded version of this resume, visit <%= link_to :cv, cv_url %></p>
    <p class="resume_footer_entry">To see some of my projects, visit <%= link_to :portfolio, portfolio_url %></p>
  </div>
</div>
