<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
    <div align="left" class="style1">
    <%= render 'home/skills', :full => false, :personal => true %>
    <%= render 'home/work', :full => false %>
    <%= render 'home/open_source', :full => false %>
    <%= render 'home/education', :full => false %>
    <%= render 'home/activities', :full => false %>
  </div>
  <br />
  <div class="resume_footer">
    <p class="indent style3">For the expanded version of this resume, visit <%= link_to cv_url, cv_url %></p>
    <p class="indent style3">To see some of my projects, visit <%= link_to portfolio_url, portfolio_url %></p>
  </div>
</div>
