<div class="resume_section">
<p class="resume_section_heading">Patents</p>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Patrick Hayes, Michael McCourt, Alexandra Johnson, George Ke, Scott Clark',
    :name => 'Systems and methods implementing an intelligent optimization platform',
    :link => 'https://patents.google.com/patent/US10217061B2',
    :organization => 'SigOpt',
    :end_date => '2019'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Alexandra Johnson, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods for implementing an intelligent application program interface for an intelligent optimization platform',
    :link => 'https://patents.google.com/patent/US10282237B1',
    :organization => 'SigOpt',
    :end_date => '2019'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Bolong Cheng, Olivia Kim, Michael McCourt, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods for implementing an intelligent machine learning optimization platform for multiple tuning criteria',
    :link => 'https://patents.google.com/patent/US10528891B1/en',
    :organization => 'SigOpt',
    :end_date => '2020'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Michael McCourt, Ben Hsu, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods for an accelerated tuning of hyperparameters of a model using a machine learning-based tuning service',
    :link => 'https://patents.google.com/patent/US20200019888A1/en',
    :organization => 'SigOpt',
    :end_date => '2020'
  %>
  <%= render 'resume/publication',
    :full => full,
    :name => 'Systems and methods for tuning hyperparameters of a model and advanced curtailment of a training of the model',
    :authors => 'Michael McCourt, Taylor Jackie Springs, Ben Hsu, Simon Howey, Halley Nicki Vance, James Blomo, Patrick Hayes, Scott Clark',
    :link => 'https://patents.google.com/patent/US11157812B2',
    :organization => 'SigOpt',
    :end_date => '2021'
  %>
  <%= render 'resume/publication',
     :full => full,
     :name => 'System and method for communicating information in a location-based system',
    :organization => 'Foursquare',
    :link => 'https://patents.google.com/patent/EP3576449B1',
    :end_date => '2022'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Kevin Tee, Michael McCourt, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods implementing an intelligent machine learning tuning system providing multiple tuned hyperparameter solutions',
    :organization => 'SigOpt',
    :link => 'https://patents.google.com/patent/US11966860B2',
    :end_date => '2024'
  %>
</div>
