<%
  organization ||= nil
  location ||= nil
  start_date ||= nil
  end_date ||= nil
%>
<div class="resume_entry">
  <p class="resume_entry_title">
  <span class="resume_entry_publication_title"><%= if link
    get_link_to name, link
  else
    name
  end
  %>.</span>
  <% if full %>
    <%= authors %>.
  <% end %>
  <% if organization %>
    <%= organization %><%
    if location %>, <%= location %><% end %><%
    if (end_date) %><% if (start_date) %>, <%= start_date %>&ndash;<%= end_date %><% else %>, <%= end_date %><% end %><% end %>
  <% end %>
  </p>
  <% if link %><p class="resume_link"><%= get_link_to link, link %></p><% end %>
</div>
