<div class="resume_section">
  <p class="resume_section_heading">Talks</p>
  <%= render 'resume/entry',
    :name => 'Accelerating Model Development by Reducing Operational Barriers',
    :organization => 'NVIDIA GTC',
    :link => 'https://www.youtube.com/watch?v=OMYF9fvK5KQ',
    :end_date => '2019',
    :show_bullets => false
  %>
  <%= render 'resume/entry',
    :name => 'Insights for Deep Learning Optimization',
    :organization => 'Open Data Science Conference',
    :link => 'https://www.youtube.com/watch?v=rj3n2RukuDM',
    :end_date => '2018',
    :show_bullets => false
  %>
  <%= render 'resume/entry',
    :name => 'Lessons Learned for Founding a Startup',
    :organization => 'University of Waterloo',
    :link => 'https://www.youtube.com/watch?v=KjKV6aiwbOk',
    :end_date => '2018',
    :show_bullets => false
  %>
  <%= render 'resume/entry',
    :name => 'Optimizing Everything with Python',
    :organization => 'Talk Python To Me Podcast',
    :link => 'https://talkpython.fm/episodes/show/51/sigopt-optimizing-everything-with-python',
    :end_date => '2016',
    :show_bullets => false
  %>
  <% if full %>
    <%= render 'resume/entry',
      :name => 'Wiktionary Mobile',
      :organization => 'Wikimania',
      :link => 'http://www.patrickhay.es/talks/wikimania2012.pdf',
      :start_date => nil,
      :end_date => 'July 2012',
      :show_bullets => false
    %>
  <% end %>
</div>
