<div class="resume_section">
<p class="resume_section_heading">Work Experience</p>
  <%= render 'resume/entry',
    :name => 'Senior Staff Software Engineer',
    :organization => 'Airtable',
    :start_date => '2023',
    :end_date => 'present',
    :show_bullets => true,
    :bullets => [
      'Tech Lead for Airtable\'s Developer Infrastructure team',
      'Responsible for driving down CI times and costs, saving thousands of eng-hours / month',
      'Built tooling to accelerate local workflows for development, typechecking, and testing',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Senior Staff Software Engineer',
    :organization => 'YouTube',
    :start_date => '2021',
    :end_date => '2023',
    :show_bullets => true,
    :bullets => [
      '"Uber Tech Lead" for YouTube\'s Developer Experience team',
      "Architect and technical mentor for frontend, backend, and infrastructure teams",
      "Developed test infrastructure for thousands of engineers at YouTube",
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Cofounder & CTO',
    :organization => 'SigOpt',
    :start_date => '2014',
    :end_date => '2021',
    :show_bullets => true,
    :bullets => [
      'Founder and architect at SigOpt, which was acquired by Intel in Oct 2020',
      "Inventor of SigOpt's patented distributed optimization platform for machine learning models",
      'Full-stack engineer with experience managing frontend, backend, and research staff',
      'Y Combinator alumni, Winter 2015',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Senior Software Engineer',
    :organization => 'Foursquare',
    :start_date => '2012',
    :end_date => '2014',
    :show_bullets => true,
    :bullets => [
      'Developed passive awareness notifications to remind users of the best content nearby',
      'Built the tips timeline, for discovering tips from people and tastes you follow',
      'Created Foursquare expertise, for recognizing and rewarding city and neighborhood experts',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Internships',
    :start_date => '2008',
    :end_date => '2012',
    :show_bullets => true,
    :bullets => [
      '<em>Bloomberg</em>, Financial Software Developer, 2011',
      '<em>Wish</em>, Research Engineer, 2011',
      '<em>Facebook</em>, Software Engineer, 2010',
      '<em>Sybase</em>, User Interface Developer, 2009',
      '<em>BlackBerry</em>, Automation Tools Developer, 2008',
    ]
  %>
</div>
