<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
  <div class="resume_content">
    <%= render 'resume/education', :full => true %>
    <%= render 'resume/open_source', :full => true %>
    <%= render 'resume/work', :full => true %>
    <%= render 'resume/talks', :full => true %>
    <%= render 'resume/skills', :full => true, :personal => false %>
    <%= render 'resume/activities', :full => true %>
  </div>
</div>
