<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
  <div class="resume_content">
    <%= render 'resume/skills', :full => false, :personal => true %>
    <%= render 'resume/work', :full => false %>
    <%= render 'resume/education', :full => false %>
    <%= render 'resume/awards', :full => false %>
    <%= render 'resume/publications', :full => false %>
    <%= render 'resume/talks', :full => false %>
    <%= render 'resume/patents', :full => false %>
    <%= render 'resume/open_source', :full => false %>
  </div>
  <div class="resume_footer"/>
</div>
