<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
  <div class="resume_content">
    <%= render 'resume/skills', :full => false, :personal => true %>
    <%= render 'resume/work', :full => false %>
    <%= render 'resume/open_source', :full => false %>
    <%= render 'resume/education', :full => false %>
    <%= render 'resume/talks', :full => false %>
    <%= render 'resume/activities', :full => false %>
  </div>
  <br />
  <div class="resume_footer">
    <p class="resume_footer_entry">For the expanded version of this resume, visit <%= get_link_to cv_url, :cv %></p>
    <p class="resume_footer_entry">To see some of my projects, visit <%= get_link_to portfolio_url, :portfolio %></p>
  </div>
</div>
