<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Patrick Hayes</title>
  <%= cust_stylesheet_link 'main' %>
  <%= cust_stylesheet_link (yield :stylesheet) %>
  <%= #javascript_include_tag :defaults
  %>
  <%= csrf_meta_tag %>
</head>
<body class="body">

<div class="content_holder">
<div class="header_holder">
<%= render "shared/header" %>
</div>

<div class="body_holder">
  <div class="page_holder">
    <%= yield %>
  </div>
  <div class="sidebar">
    <%= render "shared/about" %>
    <%= render "shared/contact" %>
  </div>
</div>
</div>

<%= render "shared/footer" %>

</body>
</html>
