<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Patrick Hayes, Software Developer</title>
  <%= cust_stylesheet_link 'main' %>
  <%= cust_stylesheet_link (yield :stylesheet) %>
  <%= yield :extra_styles %>
  <%= csrf_meta_tag %>
</head>
<body class="body">

<div class="content_holder">
<div class="header_holder">
<% if content_for?(:header)%>
  <%= yield :header %>
<% else %>
  <%= render "shared/header" %>
<% end %>
</div>

<div class="body_holder">
  <div class="page_holder">
    <%= yield %>
  </div>
  <%= yield :sidebar %>
  <% if content_for?(:sidebar)%>
    <%= yield(:sidebar) %>
  <% else %>
    <div class="sidebar">
      <%= render "shared/about" %>
      <%= render "shared/contact" %>
    </div>
  <% end %>
</div>
</div>

<%= render "shared/footer" %>

</body>
</html>
