<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @folio.name %>
</p>

<p>
  <b>Url:</b>
  <%= @folio.url %>
</p>

<p>
  <b>Description:</b>
  <%= @folio.description %>
</p>


<%= link_to 'Edit', edit_folio_path(@folio) %> |
<%= link_to 'Back', folios_path %>
